{{#if uploading}}
  <div class="docked-uploading">
    {{uploadProgress}}%
  </div>
{{else}}
  {{d-icon "far-image" class='qm-upload-picture'}}
  <input class="docked-upload-file-input" disabled={{uploading}} type="file" multiple/>
{{/if}}
