{{#if siteSettings.quick_message_enabled}}
  <div class="controls">
    <label class="checkbox-label">
      {{input type="checkbox" checked=model.custom_fields.show_quick_message}}
      {{i18n "user_preference.quick_message_preference"}}
    </label>
  </div>
{{/if}}