.messages-container {
  z-index: 998;
  position: fixed;
}

.docked-composer {
  position: fixed;
  bottom: 0;
  width: 300px;
  background-color: $secondary;
  box-shadow: shadow("menu-panel");
  border: 1px solid $primary-low;
  height: 400px;
  display: flex;
  flex-direction: column;

  &.minimized {
    height: auto;
    position: fixed;
    display: block;

    .docked-post-stream,
    .grippie  {
      display: none;
    }

    .docked-composer-header {
      height: 40px;
      line-height: 30px;
      margin-bottom: 0;
      cursor: pointer;
      box-shadow: 0 -2px 4px -1px rgba(0,0,0,0.25);
    }

    .docked-draft-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: dark-light-diff($primary, $secondary, 88%, -55%);
    }
  }

  &.closed {
    height: auto;
  }

  &#new .docked-composer-header  {
    height: auto;
  }

  .grippie {
    background-color: $primary-low;

    &:before {
      border-top: 3px double $primary;
    }
  }

  .docked-composer-posts {
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 2px;

    .spinner {
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 10px);
    }
  }

  &.integrated-compose {
    .docked-composer-header {
      padding: 0;
      position: relative;

      .controls {
        position: absolute;
        z-index: 9999;
        margin: 0 10px 0 0;
        line-height: 30px;
      }

      .docked-usernames-wrapper {
        text-align: center;
      }
    }

    &.new {
      .docked-composer-header {
        padding: 0;

        .controls {
          position: relative;
          float: left;
        }

        .ac-wrap {
          margin: 0;
        }
      }
    }
  }
}

.quick-messages-header {
  width: inherit;
  height: 30px;
  line-height: 25px;
  margin-bottom: 2px;
  box-sizing: border-box;
  background-color: $primary-low;
  box-shadow: shadow("header");
  z-index: 100;
}

.integrated-compose-header {
  @extend .quick-messages-header;
  position: relative;

  a.back {
    line-height: 30px;
    margin: 0 5px;
    position: absolute;
    left: 0;
    top: 2px;
  }

  .title {
    padding-top: 2px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
  }
}

.docked-composer-header {
  @extend .quick-messages-header;
  padding: 0 12px;

  .controls {
    margin-left: 5px;
    float: right;

    > a {
      margin: 0 5px;
      display: inline-block;
      vertical-align: middle;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .toggler {
      padding: 0;
      font-size: 19px;
      color: $primary-medium;
      font-weight: 900;
    }

    .cancel {
      font-size: 15px;
      color: $primary-medium;
      z-index: 20;
    }

    .topic-link {
      padding: 0;
      color: $primary-medium;
      font-weight: 900;
    }
  }

  .ac-wrap {
    width: initial !important;
    background-color: $primary-very-low;
    margin-bottom: 10px;
  }

  .docked-usernames-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;

    .docked-usernames {
      white-space: nowrap;
      display: inline-block;
      color: $primary;
    }
  }

  .docked-usernames-toggle {
    padding: 0 5px;
  }

  .extra-usernames {
    position: absolute;
    max-width: 200px;
    z-index: 100;
    padding: 10px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    background-color: dark-light-diff($primary, $secondary, 88%, -55%);

    .cancel {
      float: right;
    }
  }
}

.docked-post-stream {
  padding: 10px;

  .docked-post {
    width: 100%;
    display: inline-block;
    padding: 5px 0;
    color: #333;

    .docked-post-user {
      display: inline-block;
      vertical-align: top;
      width: 11%;
    }

    .docked-post-content {
      display: inline-block;
      word-wrap: break-word;
      vertical-align: middle;
      max-width: 80%;

      &.yours {
        float: right;
        background-color: $tertiary-low;
        padding: 3px 6px;
        border-radius: 6px;
        display: block;
      }

      .cooked {
        color: $primary-medium;
      }

      p {
        margin: 0;
        color: $primary;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.docked-editor {
  flex-grow: 0;
  box-shadow: 0 -2px 4px -1px rgba(0,0,0,0.25);

  .docked-editor-container {
    border: none;
    bottom: 0;
    width: 300px;
    left: 0;
    right: 0;
    padding: 0;
    background-color: $secondary;
    position: relative;
  }

  .docked-editor-textarea-wrapper {
    padding: 0;
    width: 100%;
    border: none;

    .d-editor-input {
      border-bottom: none;
      border-left: none;
      border-right: none;
      margin-bottom: 30px;
      box-shadow: none;
      border-radius: 0;
    }
  }

  .button-bar {
    position: absolute;
    bottom: 10px;
    left: 5px;
    margin: 0;
    top: initial;
    width: auto;
    border: none;
    z-index: 99;

    .btn {
      padding: 3px 6px;
      background-color: $secondary;

      .fa {
        line-height: 18px;
        margin-right: 0;
      }

      &:hover {
        background-color: $primary-low;
        color: $primary;
      }
    }
  }

  .d-editor-preview-header,
  .d-editor-preview-wrapper {
    display: none;
  }

  .emoji-picker {
    visibility: hidden;
    box-shadow: shadow('menu-panel');
  }
}

.docked-upload {
  display: inline-block;

  .docked-uploading {
    display: inline-block;
  }
}

.noscroll {
  height: 100%;
  overflow: auto;
}

.docked-small-action {
  border-top: 1px solid $primary-low;
  border-bottom: 1px solid $primary-low;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .icon, &> span:not(:last-of-type) {
    margin-right: 6px;
  }
}

.docked-avatar {
  position: relative;
}

html.whos-online-glow {
  .docked-avatar.user-online {
    @extend .topic-avatar.user-online !optional;
  }
}

html.whos-online-ring {
  .docked-avatar.user-online {
    @extend .topic-avatar.user-online !optional;
  }
}

html.whos-online-flair {
  .docked-avatar.user-online::before {
    @extend .whos-online-flair-prototype !optional;
    top: -3px;
    left: -2px;
    height: 6px !important;
    width: 6px !important;
  }
}
