{{#if docked}}
  <a href {{action "cancel"}} class='cancel fa fa-times' tabindex="6"></a>
  {{#if dockedDraft}}
  <div class='docked-draft-text'>
    {{dockedDraft}}
  </div>
  {{else}}
    {{docked-post-stream topic=model.topic docked=docked messages=messages}}
  {{/if}}
{{/if}}
