#toggle-messages-menu {
  position: relative;
  .unread-private-messages {
    top: -2px;
    right: -2px;
  }
}

.current-user .unread-private-messages, .current-user .ring {
  display: none;
}

.messages-menu .panel-body-contents {
  overflow: hidden;
  .spinner {
    position: absolute;
    left: 150px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-width: 2px;
    margin: 0 auto;
  }
}

.message-list {
  text-align: left;
  min-height: 35px;
}

.no-messages {
  text-align: center;
  padding: 10px 0;
}

.message-item {
  padding: 0 2px;
  font-size: 14px;
  list-style: none;
  margin: 0;
  line-height: 17px;
  display: inline-block;
  padding: 5px;
  width: 97%;

  .item-contents {
    color: $primary;
    cursor: pointer;
    display: flex;
    
    div.badge-notification {
      position: relative;
      top: 4px;
      display: initial;
      background-color: $success;
      height: 12px;
      width: 8px;
    }
  }

  .message-avatar {
    margin-right: 3px;
  }

  .message-excerpt {
    flex: 1;
    padding: 0 8px;
    line-height: 25px;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    i.fa {
      font-size: 18px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      padding: 0;
      vertical-align: middle;
    }
  }

  &:hover {
    background-color: dark-light-diff($highlight, $secondary, 50%, -55%);
  }

  span {
    color: $primary;
  }

  .fa {
    padding-right: 6px;

  }

  .icon {
    color: dark-light-choose(scale-color($primary, $lightness: 30%), scale-color($secondary, $lightness: 70%));
  }

  .is-warning {
    i.fa-envelope-o {
      &:before {
        content: "\f0e0";
      }
      color: $danger;
    }
  }

  .read {
    background-color: $secondary;
  }

  .none {
    padding-top: 5px;
  }
}

.message-item.unread .item-contents {
  color: #0088cc;
}

.menu-links {
  .all-messages {
    text-align: left;
    a {
      line-height: 32px;
    }
  }
  .new-message {
    text-align: right;
    .widget-link {
      white-space: nowrap;
      i {
        font-size: 17px;
        display: initial;
        padding: 5px;
      }
    }
  }
}

.new-docked-message {
  float: right;
}

.messages-container {
  z-index: 998;
  position: fixed;
}

.docked-composer {
  position: fixed;
  bottom: 0;
  width: 300px;
  background-color: #f1f4f4;
  box-shadow: 0 0px 15px -2px rgba(0, 0, 0, 0.25);
  border: 1px solid #E4E4E4;
  height: 400px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  &.minimized {
    height: 40px !important;
    .docked-post-stream,
    .grippie  {
      display: none;
    }
    .docked-composer-top {
      height: 40px;
    }
    .docked-draft-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    .docked-draft-text {
      position: absolute;
      top: 5px;
      left: 10px;
      max-width: 80%;
      line-height: 15px;
      max-height: 32px;
      overflow: hidden;
    }
  }

  &.closed {
    height: 0 !important;
  }

  .grippie {
    height: 20px;
  }

  .toggler {
    position: absolute;
    top: 2px;
    right: 23px;
    padding: 0;
    font-size: 19px;
    color: black;
    font-weight: 900;
  }

  .cancel {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 15px;
    color: black;
    z-index: 20;
  }

  .ac-wrap {
    position: absolute;
    top: 21px;
    width: 97% !important;
    z-index: 2;
    overflow: visible;
  }

  .docked-composer-top {
    height: calc(100% - 100px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
  }

  .docked-post-stream {
    padding: 10px;
    .spinner {
      position: absolute;
      top: 47%;
      left: 141px;
    }
    .docked-post {
      width: 100%;
      display: inline-block;
      padding: 5px 0;
      color: #333;
      .docked-post-user {
        display: inline-block;
        vertical-align: top;
        width: 11%;
      }
      .docked-post-content {
        display: inline-block;
        word-wrap: break-word;
        vertical-align: middle;
        max-width: 80%;
        &.yours {
          float: right;
          background-color: #E1E1E1;
          padding: 3px 6px;
          border-radius: 6px;
          display: block;
        }
        p {
          margin: 0;
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .d-editor-textarea-wrapper {
    padding: 0;
    width: 100%;
    .d-editor-input {
      height: 100%;
      border: none;
      padding: 5px;
      margin-bottom: 25px;
      box-shadow: none;
      width: 290px;
      display: block;
    }
  }

  .d-editor-modals {
    position: absolute;
    top: 20px;
    height: calc(100% - 100px);
  }

  .docked-modal {
    background-color: black;
    opacity: 0.8;
    z-index: 1000;
    color: white;
    .modal-body {
      opacity: 1;
    }
    .radios {
      height: 30px;
      padding: 5px 0;
      line-height: 30px;
      > * {
        display: inline-block;
      }
      #filename-input {
        display: inline-block;
        width: 85px;
      }
      .radio {
        padding-left: 5px;
      }
      .inputs {
        input[type="text"] {
          width: 150px;
        }
      }
    }
    .hint {
      font-size: 0.929em;
    }
    .modal-footer {
      border: none;
      padding: 10px 15px;
    }
  }

  .d-editor-container {
    border: none;
    bottom: 0;
    width: 300px;
    left: 0;
    right: 0;
    padding: 0;
    background-color: white;
    position: absolute;
  }

  #file-uploading {
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 12px;
    .spinner {
      width: 5px;
      height: 5px;
      vertical-align: middle;
      border-width: 3px;
    }
  }

  #cancel-file-upload {
    font-size: 14px;
    color: #919191;
  }

  .d-editor-button-bar {
    position: absolute;
    bottom: 10px;
    left: 5px;
    margin: 0;
    top: initial;
    width: auto;
    border: none;
    button {
      display: none;
      margin-right: 2px;
      &.upload, &.emoji {
        display: block;
      }
      i {
        color: #333;
      }
    }
    .d-editor-spacer {
      display: none;
    }
  }

  .d-editor-preview-header,
  .d-editor-preview-wrapper {
    display: none;
  }
}

.user-menu .notifications .user-message {
  display: none;
}
